<div class="container">
  <% @trees.each do |tree| %>
    <div class="col-sm">
      <%= image_tag tree.image, class: 'tree-image' %>
      <br/>
      latitude: <%= tree.latitude %>
      <br/>
      longitude:<%= tree.longitude %>
      <br/>
    </div>
  <% end %>
</div>
