<div class="profile">
  <br/>

  <div>
    <% if user_signed_in? && current_user.username == params[:username] %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <br />
      <br />
    <% end %>
  </div>

  <div>
    <label>Name</label><br/>
    <span><%= @profile_user.name %></span>
  </div>

  <br/>

  <div>
    <label>Email</label><br/>
    <span><%= @profile_user.email %></span>
  </div>
</div>
