<div class="profile">
  <br/>

  <div>
    <label>Name</label><br/>
    <span><%= @user.name %></span>
  </div>

  <br/>

  <div>
    <label>Email</label><br/>
    <span><%= @user.email %></span>
  </div>
</div>
